################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BackEnd/AppChatBackEnd/.vs/AppChatBackEnd/FileContentIndex/4c615d9e-f8c8-4370-8fef-b5beaf30b170.vsidx
/BackEnd/AppChatBackEnd/.vs/AppChatBackEnd/FileContentIndex
/.gitignore
/.gitignore
