.blocked-user-list-container {
    padding: 20px;
    background-color: #1E1E2F;
    color: white;
}

.blocked-user-list {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.blocked-user-list th, .blocked-user-list td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.blocked-user-list th {
    background-color: #F44336; /* Main color for Blocked Users component */
    color: white;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.user-search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.search-input {
    flex-grow: 2;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #2D3748;
    color: white;
}

.search-filter, .search-button {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #2D3748;
    color: white;
    cursor: pointer;
}

.search-button {
    background-color: #F44336; /* Main color for Blocked Users component */
    color: white;
}

button {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #9348d8;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #b687e2;
}

/* Unified label styles for status and role */
.blocked-status-label {
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #F44336; /* Main color for Blocked Users component */
}
.blocked-role-label {
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #F44336; /* Main color for Blocked Users component */
}
